
<h1>Hello, Welcome To Browser Test Page!</h1>
<div class="container">
<div class="span-16 last">
  <a href="basictest.html">Basic HTML elements page</a>
  <br/>
  <br/>
  <a href="sunspider.html">Sunspider Test</a>
  <br>
  <br/>
  <%=link_to"Test Post",posts_path%>
  <br/>
<br/>
<a href="httpstatus.html">HTTP Status Codes Test</a>
<br/>
<br/>
</div>
</div> 